{% extends 'navs.html' %}
{ % load static % }
{% block content %}
<div class="p-5 my-3">
    <div class="d-flex">
        <div class="flex-grow-1 font-weight-bold h3 text-right" style="color: sienna;">شهر ها</div>
        <div class="flex-shrink-0">
            <a href="{% url 'city_new' %}" class="btn btn-success btn-square"><i class="fa-solid fa-plus h5"></i></a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <!-- head -->
            <thead>
                <tr>
                    <th style="color: sienna;">نام</th>
                    <th class="text-end" style="color: sienna;">عملیات</th>
                </tr>
            </thead>
            <tbody>
                {% for city in object_list %}
                <!-- row 1 -->
                <tr>
                    <td>{{ city.name }}</td>
                    <td class="text-end">
                        <a href="{% url 'city_delete' city.pk %}" class="btn btn-danger btn-square"><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
